<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>3.0</version>
    <date><%= Time.now.strftime('%Y-%m-%dT%TZ') %></date>
    <hosts>
        <host>
            <host><%= @fqdn %></host>
            <name><%= @hostname %></name>
            <description/>
            <proxy/>
            <status>0</status>
            <ipmi_authtype>-1</ipmi_authtype>
            <ipmi_privilege>2</ipmi_privilege>
            <ipmi_username/>
            <ipmi_password/>
            <tls_connect>1</tls_connect>
            <tls_accept>1</tls_accept>
            <tls_issuer/>
            <tls_subject/>
            <tls_psk_identity/>
            <tls_psk/>
            <templates>
                <template>
                    <name>Template OS Linux UQAM</name>
                </template>
<% if @osfamily =~ /RedHat/ -%>
<% end -%>
            </templates>
            <groups>
                <group>
                    <name>Linux Servers Exploitation</name>
                </group>
            </groups>
            <interfaces>
                <interface>
                    <default>1</default>
                    <type>1</type>
                    <useip>1</useip>
                    <ip><%= @ipaddress_default %></ip>
		    <dns><%= @fqdn %></dns>
                    <port>5666</port>
                    <bulk>1</bulk>
                    <interface_ref>if1</interface_ref>
                </interface>
            </interfaces>
            <applications/>
            <items/>
            <discovery_rules/>
            <macros/>
            <inventory>
                <inventory_mode>1</inventory_mode>
                <type/>
                <type_full/>
                <name><%= @hostname %></name>
                <alias/>
                <os><%= @operatingsystem %> <%= @lsbdistrelease %> <%= @kernelrelease %></os>
                <os_full><%= @lsbdistdescription %></os_full>
                <os_short><%= @lsbdistid %></os_short>
                <serialno_a><%= @uuid %></serialno_a>
                <serialno_b/>
                <tag/>
                <asset_tag/>
                <macaddress_a><%= @macaddress %></macaddress_a>
                <macaddress_b/>
                <hardware/>
                <hardware_full/>
                <software/>
                <software_full/>
                <software_app_a/>
                <software_app_b/>
                <software_app_c/>
                <software_app_d/>
                <software_app_e/>
                <contact/>
                <location/>
                <location_lat/>
                <location_lon/>
                <notes>Serveur <% if @is_virtual -%>Virtuel<% else -%> Physique <% end -%></notes>
                <chassis/>
                <model/>
                <hw_arch><%= @architecture %></hw_arch>
                <vendor/>
                <contract_number/>
                <installer_name/>
                <deployment_status/>
                <url_a/>
                <url_b/>
                <url_c/>
                <host_networks/>
                <host_netmask/>
                <host_router><%= @gateway %></host_router>
                <oob_ip/>
                <oob_netmask/>
                <oob_router/>
                <date_hw_purchase/>
                <date_hw_install/>
                <date_hw_expiry/>
                <date_hw_decomm/>
                <site_address_a/>
                <site_address_b/>
                <site_address_c/>
                <site_city/>
                <site_state/>
                <site_country/>
                <site_zip/>
                <site_rack/>
                <site_notes/>
                <poc_1_name/>
                <poc_1_email/>
                <poc_1_phone_a/>
                <poc_1_phone_b/>
                <poc_1_cell/>
                <poc_1_screen/>
                <poc_1_notes/>
                <poc_2_name/>
                <poc_2_email/>
                <poc_2_phone_a/>
                <poc_2_phone_b/>
                <poc_2_cell/>
                <poc_2_screen/>
                <poc_2_notes/>
            </inventory>
        </host>
    </hosts>
</zabbix_export>
